*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.main{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    background-color: rgb(87, 116, 142);
    border-radius: 60px 70px 100px 60px;
    box-shadow: 0 5px 20px black,0 -5px 20px black;
}
.otp input{
    width: 25px;
    height: 25px;
    color: aliceblue;
    text-align: center;
    background-color: rgb(87, 116, 142);
    border: none;
    border-bottom: 1.5px rgb(255, 255, 255) solid;
    padding: 5px;
    outline: none;
    margin: 0 4px;
}
.otp h1{
    position: absolute;
    top:0.5em;
    left: 3.2em;
    color: rgb(255, 255, 255);
}
.otp p{
    position: absolute;
    top:4em;
    left: 2em;
    color: rgb(255, 255, 255);
}
.otp button{
    position: absolute;
    bottom: 4em;
    left: 8em;
    padding: 8px 16px;
    color: rgb(255, 255, 255);
    background-color: rgb(33, 197, 197);
    border: none;
    border-radius: 10px 100px;
}
.otp button:hover{
    box-shadow: 0 0 20px rgba(1, 251, 197, 0.667) ;

}
.top input:hover{
    box-shadow: 0 0 20px rgb(0, 0, 0) ;

}