<!DOCTYPE html>
<html>
    <head>
        <title>Thank You</title>
        <style>
           body{
            background-color: rgb(0, 255, 47);
           }
           #T_Msg{
            color:blue;
            text-align: center;
            font-size: 50px;           
           }
        </style>
    </head>
    <body>
        <div id="T_Msg">
           <p>ThankYou For Voting<br>
                You have voted to {{candidate}}</p> 
        </div>
        
    </body>
</html>